<a href="https://colab.research.google.com/github/D-e-v-i-k-a/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/excersise24_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a pthon program to get the largest number from a list

# New Section

In [ ]:
list1=[45,69,87,93]
list1.sort()
print("The largest number in the list is:",list1[-1])

The largest number in the list is: 93

2.Write a python code to search an element in a list.

In [ ]:
def search(list1,n): 
  for i in range(len(list1)):
    if list1[i]==n:
      return True
  return False
list1=[1,2,'apple','mango',4,6]
n='mango'
if search(list1,n):
  print("found")
else:
   print("not found")

found

3.Write a pthon program to sum all the items in a list.

In [ ]:
list1=[22,13,46,77]
list2=sum(list1)
print("sum of the above lis is:",list2)

sum of the above lis is: 158

4.Write a python program to remove duplicates from a list.

In [ ]:
mylist=[2,3,2,4,5,2,6,2]
list1=set(mylist)
print(list1)

{2, 3, 4, 5, 6}


5.Write a pthon function that takes two lists returns True if the have atleast one common member.

In [ ]:
def common(list1,list2):
  result=False
  for x in list1:
    for y in list2:
      if x==y:
        result=True
        return result
print(common([1,2,3,4,5],[5,6,7,8,9])) 
print(common([1,2,3,4,5],[6,7,8,9]))

True
None

6.write a pthon program to append a list to the second list.

In [ ]:
list1=[2,4,6,8]
list2=['John','Jane',"France"]
list1.extend(list2)
print("the appended list is:",list1)

the appended list is: [2, 4, 6, 8, 'John', 'Jane', 'France']

7.write a pthon program to check if a given number is composite or not

In [ ]:
num=int(input("enter a number:"))
factor =0
for i in range(1,n):
  if n%i==0:
   factor=i
  if factor>1:
    print("It a composite number")
  elif n==1:
    print("1 is neither prime nor composite")  
  else:
    print("Its not a composite number")

enter a number:12

TypeError: ignored

8.write a pthon code to add two matrices using list.

In [ ]:
A=[[2,4,6],[1,3,5],[1,2,3]]
B=[[1,2,3],[2,1,4],[3,4,5]]
result=[[A[i][j]+ B[i][j] for j in range(len(A[0]))] for i in range(len(A))]
for r in result:
  print(r)

[3, 6, 9]
[3, 4, 9]
[4, 6, 8]

9.Write a pthon program to check if a string is palindrome or not.

In [ ]:
def Palindrome(s):
  rev=''.join(reversed(s))
  if(s==rev):
    return True
  return False
s=input("enter a string:")
ans=Palindrome(s)
if(ans):
  print("is a palindrome")
else:
  print("not a palindrome")

enter a string:malayalam
is a palindrome

10.Wrte a pthon program to print multiplication table of a number.

In [ ]:
n=int(input("enter a numbr"))
i=1
while(i<=10):
  print(i,"*",n,"=",i*n)
  i=i+1
print()

enter a numbr7
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70